/*colors*/
:root {
    --active-input-border: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --input-errors: hsl(0, 100%, 66%);
    --light: hsl(270, 3%, 87%);
    --dark: hsl(279, 6%, 55%);
    --very-dark: hsl(278, 68%, 11%);
}
/*font*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body{
    font-size: 18px;
    padding:0;
    margin:0;
    display:flex;

}

/*Layout of aside and main-section*/

#aside-color{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width:25vw;
    background-image: url("./images/bg-main-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    padding-left:5vw;
}
#card-front{
    height: 245px;
    width:447px;
    background-image: url("./images/bg-card-front.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
#card-back{
    margin-left: 120px;
    height: 245px;
    width:447px;
    background-image: url("./images/bg-card-back.png");
    background-position: center;
    background-repeat: no-repeat;
}
#main-inputs{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width:70vw;
    justify-content: center;
    align-items: center;
}
form{
    display:flex;
    flex-direction: column;
    width:50%;
}
#num-and-name{
    display:flex;
    flex-direction: column;
}
#expires{
    display:flex;

}











input:focus {
    /*linear gradient outline for active input*/
    outline: none;
    padding: 0.5rem;
    border: double 1.5px transparent;
    border-radius: 6px;
    background-image: linear-gradient(white, white),
        linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    /*linear gradient end, source stack overflow*/
}










.hide {
    display: none;
}